# Input Shaper
[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 76 # 6300 mm/s^2
shaper_type_y: ei
shaper_freq_y: 56.6 # 6100 mm/s^2

# TMC settings
[tmc2209 stepper_x]
driver_SGTHRS: 90

[tmc2209 stepper_y]
driver_SGTHRS: 140

[stepper_x]
position_min: -5
position_endstop: -5

[stepper_z]
position_min: -5

# Autotune TMC
[autotune_tmc stepper_x]
motor: omc-17me15-1504s
tuning_goal: performance
sg4_thrs: 90

[autotune_tmc stepper_y]
motor: omc-17he15-1504s
tuning_goal: performance
sg4_thrs: 140

[autotune_tmc stepper_z]
motor: ldo-42sth34-1004l321e
tuning_goal: silent

[autotune_tmc extruder]
motor: ldo-42sth40-1004a
tuning_goal: silent
sgt: -3

[screws_tilt_adjust]
screw5: 13,5
screw2: 123,5
screw3: 218,5
screw4: 13,105
screw1: 123,105
screw6: 218,105
screw7: 13,212
screw8: 123,212
screw9: 218,212
speed: 500
screw_thread: CCW-M3