# KlipperCrash by 3DCoded
# https://github.com/3DCoded/KlipperCrash

[crash x]
[crash y]

[gcode_macro G28]
rename_existing: G28.98
gcode:
  CRASH_DISABLE AXIS=x
  CRASH_DISABLE AXIS=y
  G4 P500
  G28.98 {rawparams}
  CRASH_ENABLE AXIS=x
  CRASH_ENABLE AXIS=y