# KlipperCrash by 3DCoded
# https://github.com/3DCoded/KlipperCrash

[crash x]
crash_gcode:
  M117 Custom GCode for X axis Crash. Homing...
  G28 X
[crash y]
crash_gcode:
  M117 Custom Y GCode. I won't home!
[crash e]

[delayed_gcode crash]
initial_duration: 1
gcode:
  CRASH_ENABLE AXIS=x
  CRASH_ENABLE AXIS=y
  CRASH_ENABLE AXIS=e
  RESPOND MSG="Crash Detection Enabled"

[gcode_macro G28]
rename_existing: G28.98
gcode:
  CRASH_DISABLE AXIS=x
  CRASH_DISABLE AXIS=y
  G4 P500
  G28.98 {rawparams}
  CRASH_ENABLE AXIS=x
  CRASH_ENABLE AXIS=y