### --- INPUT SHAPER --- ###
[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 76.0
shaper_type_y: 2hump_ei
shaper_freq_y: 56.0

### --- AUTOTUNE TMC --- ###
[autotune_tmc stepper_x]
motor: omc-17me15-1504s
tuning_goal: performance
sg4_thrs: 90

[autotune_tmc stepper_y]
motor: omc-17he15-1504s
tuning_goal: performance
sg4_thrs: 140

[autotune_tmc stepper_z]
motor: ldo-42sth34-1004l321e
tuning_goal: silent

### --- BED SCREWS --- ###
[bed_screws]
screw1: 13,6
screw1_name: Front Left
screw2: 13,115
screw2_name: Front Center
screw3: 13,210
screw3_name: Front Right
screw4: 123,6
screw4_name: Center Left
screw5: 123,210
screw5_name: Center Right
screw6: 228,6
screw6_name: Back Left
screw7: 228,115
screw7_name: Back Center
screw8: 228,210
screw8_name: Back Right

### --- GCODE ARCS --- ###
[gcode_arcs]
resolution: 0.25